<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" type="text/css" href="{$basePath}/css/epic/476.egstore-site.4bdc6582aa0fb78eb5b5.css">
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/epic/webAppStyles.egstore-site.2987c3201239a973255e.css">

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/api.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/fonts.egstore-site.e63c11e6f676446b0f3c.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/main.egstore-site.b26d734148f8bf79d482.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/otBannerSdk.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/otSDKStub.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/polyfill.egstore-site.3724cdb24572fd236943.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/remoteEntry.js"></script>
		<script type="text/javascript" src="{$basePath}/js/epic/tracking.js"></script>

	<script>

		var xhr = new XMLHttpRequest();

		xhr.open('GET', 'localhost:8000/parser/search/results/?query&start=50&count=50&dynamic_data=&sort_by=_ASC&snr=1_7_7_2300_7&specials=1&infinite=1', false);

		xhr.send();

		if(xhr.status != 200)
		{
			alert( xhr.status + ': ' + xhr.statusText ); // пример вывода: 404: Not Found
		} else {
			// вывести результат
			console.log( xhr.responseText ); // responseText -- текст ответа.
		}

	</script>

	<title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<link>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

	{include content}

</body>
</html>
